@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

body {
    --first_size: 40px;
    --second_size: 15px;
    --fam: 'Roboto', sans-serif;;
    text-shadow: 2px 2px rgb(212, 212, 212);
}

.typed-cursor {
    display: none;
}

.wrap {
    height: 140px;
    width: 822px;
    position: relative;
    margin-top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.wrap::before {
    content: '';
    position: absolute;
    inset: -20px;
    border: 1px solid black;
}

.line {
    font-family: var(--fam);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .4);
}

.video-wrap {
    background: rgba(255, 255, 255, .3);
    height: 100%;
    overflow: hidden;
    position: relative; /* Comment when positioning */
}

#background-video {
    position: absolute;
    top: -150%;
    left: -30%;
    z-index: -1;
}

#first {
    font-size: var(--first_size);
    font-weight: 500;
    letter-spacing: 3px;
    top: 50%;
    white-space: nowrap;
}

#second {
    font-size: var(--second_size);
    font-weight: 300;
    letter-spacing: 2px;
    top: 80%;
}

#first::after, #second::after {
    content: '|';
    animation: typedjsBlink 0.5s infinite;;
}
